@font-face {
    font-family: 'Roboto'/* , sans-serif */;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'), format('ttf');
  }
  
  html {
    background: #f3c14f;
  }

.title-row {
    display: flex;
    width: 70rem;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    align-items: center;
  }
.title-row .title {
    color: #4c4c4c;
    font-size: 4rem;
  }


.form-title {
  color: #4c4c4c;
}